body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #4CAF50;
    color: white;
    padding: 40px 0;
    text-align: center;
}
.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
article {
    background-color: #f2f2f2;
    width: 80%;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
}